@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px */

@media screen and (min-width: 768px) {
    .cabecalho{
        padding: 20px 80px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .cabecalho{
        padding: 20px 100px;
    }

    .foto-estilo > img{
        width: 400px;
    }

    .titulo-principal{
        font-size: 2.5em;
    }
}