@charset "UTF-8";

:root{
    --cor-texto-principal: #DAD7CD;
    --cor-texto-destaque: #dda15e;
    --fundo: #588157;
    --cor-texto-sec: #344E41;
    --cor-texto-subt: #415d43;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

a{
    text-decoration: none;
}

.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.logo > img{
    cursor: pointer;
    width: 80px;
}

#burguer{
    display: block;
    cursor: pointer;
    color: var(--fundo);
    padding: 10px;
}

#menu{
    display: none;
}

#menu > ul{
    display: flex;
    list-style: none;
}

#menu > ul > li > a{
    display: block;
    padding: 10px;
    font-size: 1.2em;
    color: var(--fundo);
}

#menu > ul > li > a:hover{
    color: var(--cor-texto-destaque);
    transition-duration: 1s;
}

.conteiner{
    background-color: var(--fundo);
    color: var(--cor-texto-principal);
    height: 88vh;
    width: 100vw;
    margin: 0 auto;

    

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.conteudo > .principal{
    padding: 10px 30px;
    margin: auto;
}

.titulo-principal{
    font-weight: 700;
    font-size: 2em;
    color: var(--cor-texto-principal);
    text-align: center;
}

.sub-principal{
    color: var(--cor-texto-subt);
    font-weight: 300;
    font-size: 1em;
    text-align: center;
}

.foto-estilo{
    margin: auto;
    padding: 30px;
}

.foto-estilo > img{
    width: 300px;
}