@charset "UTF-8";

:root{
    --cor-texto-principal: #DAD7CD;
    --cor-texto-destaque: #dda15e;
    --fundo: #588157;
    --cor-texto-sec: #344E41;
    --cor-texto-subt: #415d43;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

a{
    text-decoration: none;
}

.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.logo > img{
    cursor: pointer;
    width: 80px;
}

#burguer{
    display: block;
    cursor: pointer;
    color: var(--fundo);
    padding: 10px;
}

#menu{
    display: none;
}

#menu > ul{
    display: flex;
    list-style: none;
}

#menu > ul > li > a{
    display: block;
    padding: 10px;
    font-size: 1.2em;
    color: var(--fundo);
}

#menu > ul > li > a:hover{
    color: var(--cor-texto-destaque);
    transition-duration: 1s;
}

.conteiner{
    background-color: var(--fundo);
    color: var(--cor-texto-principal);
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
    border-radius: 20px;

    

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo{
    align-items: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo > div{
    padding: 10px 30px;
}

.titulo-principal, .titulo-principal-sec{
    font-weight: 700;
    font-size: 2.5em;
    color: var(--cor-texto-principal);
    text-align: left;
}

.titulo-principal-sec{
    color: var(--cor-texto-principal);
}

.texto-principal{
    color: var(--cor-texto-subt);
    font-weight: 300;
    font-size: 1em;
    text-align: left;
}

.linha{
    width: 400px;
    height: 10px;
    background-image: linear-gradient(to right, var(--cor-texto-destaque), var(--fundo));
    margin: 20px 0;
}

.intro{
    width: 400px;
    font-size: 0.9em;
    padding: 20px;
}

.foto-estilo > img{
    width: 300px;
}

@media screen and (max-width: 600px) {
    /* .principal, .foto-estilo{
        padding-left: 40px;
        padding-right: 40px;
    } */

    /* #burguer{
        display: block;
    }

    #menu{
        display: none;
    } */

    /* .cabecalho{
        margin-left: 40px;
        margin-right: 40px;
    } */
}

@media screen and (max-width: 510px) {
    /* .principal, .foto-estilo{
        padding-left: 80px;
        padding-right: 80px;
    } */

    /* .foto-estilo > img{
        width: 200px;
    } */
}