@charset "UTF-8";

:root{
    --cor-texto-principal: #DAD7CD;
    --cor-texto-destaque: #dda15e;
    --fundo: #588157;
    --cor-texto-sec: #344E41;
    --cor-texto-subt: #415d43;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    background-color: white;
}

a{
    text-decoration: none;
}

.cabecalho{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
}

.logo > img{
    cursor: pointer;
    width: 80px;
}

.conteiner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.conteudo{
    height: 85vh;
    width: 90vw;
    background-color: var(--fundo);
    color: var(--cor-texto-principal);
    border-radius: 20px;
    margin: 0 40px;
    padding: 0 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.principal{
    padding-bottom: 20px;
}

.titulo-principal{
    font-weight: 700;
    font-size: 2em;
    color: var(--cor-texto-principal);
    text-align: left;
}

.sub-principal{
    color: var(--cor-texto-subt);
    font-weight: 300;
    font-size: 1em;
    text-align: left;
}

.foto-estilo > img{
    width: 300px;
}